.mobile-overlay-menu {
   width: 100vw;
   height: 100vh;
   background-color: rgba(8, 6, 6, 0.7);
   position: fixed;
   top: 0;
   left: 0;
   display: none;
   z-index: 1000;

   &__button {
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 30px;
      height: 30px;

      &::after,
      &::before {
         content: '';
         width: 20px;
         height: 2px;
         border-radius: 5px;
         background-color: var(--text-grey);

         @include centerPosition;
      }

      &::after {
         rotate: 45deg;
      }
      &::before {
         rotate: -45deg;
      }
   }
   
   &__body {
      background-color: var(--background-color-light);
      border-radius: var(--radius-card);
      padding: 50px 40px 40px 40px;
      max-height: 100%;
      min-width: 340px;
      overflow-y: auto;

      @include centerPosition
   }

   &__list {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      text-align: center;
   }
   &__link {
      text-transform: lowercase;
      font-size: 30px;
      line-height: 1.2;
   }
}