@font-face {
   font-family: 'Futura New';
   src: url('/fonts/FuturaNewBook-Reg.woff2') format('woff2');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Futura New';
   src: url('/fonts/FuturaNewBold-Reg.woff2') format('woff2');
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'SchoolBook';
   src: url('/fonts/SchoolBookC.woff2') format('woff2');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'SchoolBook';
   src: url('/fonts/SchoolBookC-Bold.woff2') format('woff2');
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}